<ion-header>

  <ion-navbar color="viol">
    <ion-title>Тип записи</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <div class="violback">

    <ion-card no-margin class="backtransparent">
      <ion-grid no-padding>
        <ion-row justify-content-around (click)="goRituals()">
          <ion-col col-12 class="card-background-page">
          <div [ngClass]="{'doublelinesel': choicerituals, 'card-title': 1, 'orange': choicerituals, 'doubleline': !choicerituals, 'whitey': !choicerituals}">
              <div class="centering">
                <ion-icon [ngClass]="{'iconsel': choicerituals}" name="custom_cook"></ion-icon>
                ЗАПИСАТЬСЯ
                <br/>НА РИТУАЛ
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br/>
    <ion-card no-margin class="backtransparent">
      <ion-grid no-padding>
        <ion-row justify-content-around (click)="goSpas()">
          <ion-col col-12 class="card-background-page">
            <div [ngClass]="{'doublelinesel': choicespas, 'card-title': 1, 'orange': choicespas, 'doubleline': !choicespas, 'whitey': !choicespas}">
              <div class="centering">
                <ion-icon [ngClass]="{'iconsel': choicespas}" name="custom_drop"></ion-icon>
                ЗАПИСАТЬСЯ
                <br/>НА СПА-ПРОГРАММУ
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
  </div>
</ion-content>
