<ion-header>

  <ion-navbar color="viols">
    <ion-title>Подарочные карты</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card class="backtransparent">
    <ion-grid no-padding>
      <div *ngFor="let gift of gifts; let i=index">
        <ion-row justify-content-around margin-bottom *ngIf="i % 2 === 0">
          <ion-col col-5 class="card-background-page" (click)="goGiftsDetail(gifts[i])" *ngIf="i < gifts.length">
            <img src="{{ checkPic(gifts[i].menue_pic) }}"/>
            <div class="card-title everyline">
              <div class="centering">{{ gifts[i].menue_cost/100 }} руб</div>
              <div class="centering" [innerHTML]="gifts[i].menue_name"></div>
            </div>
          </ion-col>
          <ion-col col-5 class="card-background-page" (click)="goGiftsDetail(gifts[i+1])" *ngIf="i + 1 < gifts.length">
            <img src="{{ checkPic(gifts[i+1].menue_pic) }}"/>
            <div class="card-title everyline">
              <div class="centering">{{ gifts[i+1].menue_cost/100 }} руб</div>
              <div class="centering" [innerHTML]="gifts[i+1].menue_name"></div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-card>

</ion-content>
