<ion-header>
  <ion-navbar color="viol">
    <!-- <ion-buttons left>
      <button ion-button (click)="close()" [ngStyle]="{'color': '#fff', 'font-size': '200%'}">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>
      Записаться
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="violback">

    <ion-card no-margin class="backtransparent">
      <ion-grid no-padding>
        <ion-row justify-content-around>
          <ion-col col-12 class="card-background-page" (click)="goRitual()">
            <div [ngClass]="{'doublelinesel': choicerituals, 'card-title': 1, 'orange': choicerituals, 'doubleline': !choicerituals, 'whitey': !choicerituals}">
              <div class="centering">
                <ion-icon [ngClass]="{'iconsel': choicerituals}" name="custom_cook"></ion-icon>
                ЗАПИСАТЬСЯ
                <br/>НА РИТУАЛ
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br/>
    <ion-card no-margin class="backtransparent">
      <ion-grid no-padding>
        <ion-row justify-content-around>
          <ion-col col-12 class="card-background-page" (click)="goExpress()">
            <div [ngClass]="{'doublelinesel': choiceexpress, 'card-title': 1, 'orange': choiceexpress, 'doubleline': !choiceexpress, 'whitey': !choiceexpress}">
              <div class="centering">
                <ion-icon [ngClass]="{'iconsel': choiceexpress}" name="custom_time"></ion-icon>
                МНЕ ПОВЕЗЕТ!
                <br/>ЭКСПРЕСС-ЗАПИСЬ
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br/>
    <ion-card no-margin class="backtransparent">
      <ion-grid no-padding>
        <ion-row justify-content-around>
          <ion-col col-12 class="card-background-page" (click)="goHistory()">
            <div [ngClass]="{'doublelinesel': choicehist, 'card-title': 1, 'orange': choicehist, 'doubleline': !choicehist, 'whitey': !choicehist}">
              <div class="centering">
                <ion-icon [ngClass]="{'iconsel': choicehist}" name="ios-refresh-circle-outline" style="height:10vh;font-size:10vh;"></ion-icon>
                МНЕ КАК
                <br/>В ПРОШЛЫЙ РАЗ
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
  </div>
</ion-content>
