page-modalrituals {
    .violback {
        min-height: 100%;
        padding-top:20px;
        background-color: rgba(82, 73, 118, 0.9) !important;
    }
    ion-content {
        padding-top: 0;
        background-image: url('../assets/img/lotos.jpg');
        background-position:center center;
        background-size: auto 100%;
    }
    ion-header ion-navbar div.toolbar-background {
        border: none !important;
    }
    
    ion-header.header {
        background: transparent;
    }
    
    ion-header.header::after {
        background-image: none;
    }

    ion-header .toolbar-background {
        background: transparent;
    }
    
    ion-card {
        text-align: center;
        position: relative;
        width: 100% !important;
        // padding-top: 66.66667%; /* 1:1 Aspect Ratio */
        padding-top: 25vh;
    }

    ion-card ion-grid {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 20px;
        color: white;
        max-width: 25vh;
        max-height: 25vh;
    }

    ion-row {
        height: 100%;
    }

    ion-col {
        height: 100% !important;
    }
    
    .backviol {
        background-color: #524976;
        color: #fff;
    }
    .everyline {
        outline: 2px solid #fff;
        outline-offset: -10px;
    }
    .doubleline {
        border: 2px solid #fff;
        outline: 2px solid #fff;
        outline-offset: -10px;
    }
    .backtransparent {
        text-align: center;
        background-color:rgba(0,0,0,0);
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .backlotos {
        background-image: url('../assets/img/lotos.jpg');
        background-position:center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        text-align: center;
        background-color:rgba(0,0,0,0);
        box-shadow: none;
        -webkit-box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .violet {
        color: #524976;
    }
    .whitey {
        color: #fff;
    }
    .orange {
        color: #E9B964 !important;
    }
    .doublelinesel {
        border: 2px solid #E9B964;
        outline: 2px solid #E9B964;
        outline-offset: -10px;
    }
    .iconsel {
        filter: contrast(50%) sepia(100%) hue-rotate(5deg) brightness(0.8) saturate(500%);
    }

    .card-background-page {
    
        .card-title {
            text-align: center;
            font-size: 1.0em;
            font-size: 3.5vw !important;
            padding:10px;
            width: 100%;
            height: 100%;
            font-weight: bold;
            color: #fff;
        }

        .centering {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .centering ion-icon {
            display: block !important;
            margin: 0 auto 5px auto !important;
            height: 9vh;
        }
    
    }
    
}
