page-about {
    ion-content {
        background-image: url('../assets/img/pattern.jpg');
        background-position:center center;
        background-size: auto 100%;
    }
    ion-card img {
        width: 90%;
        margin: 0 auto;
    }
}
