<ion-header>
  
  <ion-navbar color="viol">
    <ion-title [innerHTML]="gifts[0].menue_name"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let gift of gifts">
    <img src="{{ checkPic(gift.menue_pic) }}">
    <ion-card-content>
      <ion-card-title [innerHTML]="gift.menue_name"></ion-card-title>
      <p>{{ gift.menue_cost/100 }} руб</p>
      <p [innerHTML]="gift.menue_desc"></p>
    </ion-card-content>
  </ion-card>

</ion-content>
  