page-service-giftcards {
    ion-content {
        background-image: url('../assets/img/pattern.jpg');
        background-position:center center;
        background-size: auto 100%;
    }
    ion-card-title {
        text-align: center;
    }
    .backtransparent {
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .everyline {
        outline: 2px solid #fff;
        outline-offset: -10px;
    }
    .card-background-page {

        padding: 0 !important;
        
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 1.0em;
            font-size: 3.6vw;
            width: 100%;
            height: 100%;
            font-weight: bold;
            color: #fff;
        }
        .centering {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .card-title.everyline {
            // background-color:rgba(0,0,0,0.3);
        }
    
    }
}
